/bin/
bpfman/testdata/
bpfman/internal/server/pb/
archive/bpfman-kernel/bpfman-kernel
.direnv/
.bpf-build-stamp
e2e/testdata/bpf/*.bpf.o
e2e/testdata/bpf/*.bpf.d
platform/ebpf/*.bpf.o
platform/ebpf/*.bpf.d
.cache/
